/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/supercell-magic');

:root{
  --primary-color: rgb(27, 27, 27);
  --royale-blue: rgb(53, 103, 211);
  --royale-blue-darker: rgb(44, 71, 129);
  --royale-red: rgb(119, 52, 52);
}

/*  NECESARIO PARA STICKY FOOTER */
html, body {
  height: 100%;
  margin: 0;
}

body{
  background-color: var(--primary-color);
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* =========================
   STICKY FOOTER SIN CAMBIAR HTML
========================= */

app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root > app-sidebar,
app-root > main {
  flex: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
