/* You can add global styles to this file, and also import other style files */

:root{
  --primary-color: rgb(27, 27, 27);
  --royale-blue: rgb(53, 103, 211);
  --royale-blue-darker: rgb(44, 71, 129);
  --royale-red: rgb(119, 52, 52);
}

body{
    background-color: var(--primary-color);
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

