<div class="register-container">
  <h2>Registro de usuario</h2>

  <form [formGroup]="registerForm" (ngSubmit)="submit()">
    <div>
      <label>Usuario:</label>
      <input placeholder="Usuario" formControlName="username" type="text" />
      @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched){
      <div>
        Usuario inválido (mínimo 3 caracteres)
      </div>
      }

    </div>

    <div>
      <label>Contraseña:</label>
      <input placeholder="Contraseña" formControlName="password" type="password" />
      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
      <div>
        Contraseña inválida (mínimo 4 caracteres)
      </div>
      }
    </div>

    <button type="submit">Registrar</button>
  </form>

  <p class="message">{{ message }}</p>
</div>
