<div class="profile-container">
  <div class="profile-card">

    <h2>{{ user.username }}</h2>
    <p class="role">Rol: {{ user.role }}</p>

    <div class="options-container">
    <!-- Cambiar contraseña -->
    <div class="form-group">
      <input
        placeholder="Nueva contraseña"
        [(ngModel)]="newPassword"
      />
      <button class="btn warning" (click)="changePassword()">Cambiar contraseña</button>
    </div>

    <!-- Establecer Id Clash Royale -->
    <div class="form-group">
      <input
        placeholder="Nuevo Id"
        [(ngModel)]="newId"
      />
      <button class="btn warning" (click)="setClashRoyaleId()">Establecer Id</button>
    </div>
    
    </div>

    <!-- Borrar usuario -->
    <button class="btn danger" (click)="deleteUser()">Borrar usuario</button>

  </div>
  <div class="user-container">
      @if(this.clashRoyaleId){
        <app-user [id]=clashRoyaleId></app-user>
      }@else{
        <p>Introduce tu Id de Clash Royale</p>
      }

  </div>
</div>

