.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 30px;
}

.logo {
  margin-right: 20px;
}

.logo-img {
  height: 40px;
}

.login-btn {
  padding: 8px 50px;
  font-size: 16px;
  background-color: var(--royale-blue);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}
