<header class="header">

  <div class="search-bar">
    <input type="text" placeholder="Player Tag" #searchInput>
    <button (click)="buscarUsuario(searchInput.value)" class="search-btn">Search</button>
  </div>

  @if(isLoggedIn$ | async){
  <div class="login">
    <button routerLink="profile" class="login-btn">Mi perfil</button>
    <button (click)="onLogout()" class="login-btn">Logout</button>
  </div>
  }@else{
  <div class="login">
    <button routerLink="login" class="login-btn">Login</button>
    <button routerLink="register" class="login-btn">Register</button>
  </div>
  }


</header>