<div class="sidebar" [class.active]="sidebarVisible">
  <ul>
    <li><a routerLink="/" (click)="closeSidebar()">Inicio</a></li>
    <li><a routerLink="/cards" (click)="closeSidebar()">Catálogo</a></li>
    <li><a routerLink="/mazos" (click)="closeSidebar()">Mazos Populares</a></li>
    <li><a routerLink="/mis-mazos" (click)="closeSidebar()">Mis Mazos</a></li>
    <li><a routerLink="/quiz" (click)="closeSidebar()">Quiz</a></li>
    <li><a routerLink="/contacto" (click)="closeSidebar()">Contacto</a></li>
  </ul>
</div>

<!-- Botón hamburguesa -->
<label class="menu-btn" (click)="toggleSidebar()">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</label>



